<?php
	$_ENV['DB_HOST']       = "127.0.0.1";
	$_ENV['DB_USERNAME'] 	= "root";
	$_ENV['DB_PASSWORD'] 	= "";
	$_ENV['DB_NAME_SIKAP'] 	= "sikap";
	$_ENV['DB_NAME_SIDAK'] 	= "sidak";
	$_ENV['DB_NAME_GPP'] 	= "sidak";
	$_ENV['DB_NAME_SAS'] 	= "sidak";
	$_ENV['BASE_URL']   = 'http://localhost:8080/';
	$_ENV['SSO_URL'] = 'http://localhost:10000/';
	$_ENV['SSO_KEY']   = 'example_key';
?>
